@font-face {
    font-family: AlegreyaSC;
    src: url(../fonts/AlegreyaSC-ExtraBoldItalic-LOGO.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
}

body {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}

p {
    line-height: 1.5;
}

ul {
    list-style-type: none;
}

span {
    display: none;
}

/* header */

header {
    display: flex;
    height: 7rem;
    background-image: linear-gradient(160deg, rgb(12, 12, 59), #000);
transition: trasnform 0.5s;
}

header ul li:hover {transform: translateY(-20px);}
/* para tablet y cel, poner flex direction columns */
.header__content {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header__tittle {
    font-family: AlegreyaSC;
    display: flex;
    font-size: 2.5rem;
}

header ul {
    display: flex;
}

header ul li {
    padding: 10px;
}

header ul li a {
    text-decoration: underline;
}

/* main */

.main {
    color: blanchedalmond;
    background-color: rgb(12, 12, 59);
    height: 100%;
}

.main__principal {
    padding: 30px;
    display: flex;
    justify-content: space-around;
}

.main__principal h2 {
    text-decoration: underline;
    line-height: 1.5;
}


.grid__principal--item {
    width: 50%;
}

.main__novedades {
    display: grid;
    grid-template-columns: repeat(3, 1 fr);
}

.main__novedades h2 {
    text-align: center;
    text-decoration: underline;
    padding-bottom: 15px;
}

.main__novedades a {
    color: #fff;
}

.novedades__div {
    display: flex;
    justify-content: space-around;
    padding: 15px;
}

.card {
    background-color: rgb(88, 88, 207);
    margin: 10px 50px;
    text-align: center;
    border-radius: 10px;
    width: 80%;
    transition: transformn 0.5s;
}

.card:hover {
transform: scale(1.1);
}

.card a img {
    width: 100%;
    height: 50%;
    border-radius: 10px;
    margin-bottom: 20px;
    padding-top: 10px;
}

.card__p {
    text-align: center;
    padding: 10px;
}

.card__h3 {
    color: rgb(12, 12, 59);
    text-decoration: underline;
    font-weight: bold;
}

/* para contacto.html */

.main__texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;

}

.main__formularios {
    width: 100%;
    height: 300px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.form__label {
    display: flex;
    justify-content: space-between;
}

.input {
    width: 235px;
}

.button {
    color: #000;
}


/* para quienes-somos.html */

.main__equipo h1 {
    text-align: center;
    text-decoration: underline;
}

.main__equipo {
    padding: 30px 100px;
    color: blanchedalmond;
    background-color: rgb(12, 12, 59);
}

.equipo__img {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.equipo__img img {
    width: 50%;
}

.equipo__img ul {
    text-align: left;
    align-self: center;
    list-style: square;
}

/* para nuestros-trabajos.html */

.main h1 {
    text-align: center;
    text-decoration: underline;
    padding-bottom: 20px;
}

.main__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 450px);
    justify-content: center;
    justify-items: center;
}

.card__small {
    background-color: rgb(88, 88, 207);
    width: 70%;
    height: 410px;
    border-radius: 10px;
    padding: 10px;
    transition: transformn 0.5s;
}

.card__small:hover {
    transform: scale(1.1);
    }

.card__small div small {
    align-items: left;
    padding-left: 5px;
}

.card__small div h3 {
    text-align: center;
}

.card__small div img {
    padding-top: 5px;
    width: 100%;
    height: 205px;
}

.card__small div ul li {
    list-style-type: none;
    padding-left: 5px;
}

.enlace {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: rgb(12, 12, 59);
    padding-bottom: -5px;
}

/* para sitio-en-construccion.html */

.main__text {
    padding: 30px 100px;
    height: 310px;
}


/* footer */

.footer {
    background-image: linear-gradient(160deg, #000, rgb(12, 12, 59));
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    height: 100px;
    list-style-type: none;
}

/* media quering*/

@media screen and (max-width: 768px) {
    body header {
        flex-direction: column;
        padding-top: 50px;
    }

    .main__principal {
        padding: 60px;
        display: flex;
        justify-content: center;
    }

    main h2 {
        display: flex;
        text-align: center;
    }

    .grid__principal--item {
        width: 80%;
    }

    main iframe {
        display: none;
    }

    .main__novedades a h2 {
        flex-direction: column;
        text-align: center;
        text-decoration: underline;
        padding-bottom: 15px;
    }

    .main__text {
        padding: 60px 100px;
    }

    .main__cards {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 450px);
    }

    .card {
        background-color: rgb(88, 88, 207);
        margin: 10px 10px;
        text-align: center;
        font-size: 0.8rem;
        border-radius: 10px;
        width: 95%;
    }
}

@media screen and (max-width:375px) {
    .header__content nav ul {
        display: none
    }

    .header__content nav span {
        display: flex;
    }

    .main__principal {
        padding: 50px 10px 20px 10px;
        display: flex;
        justify-content: center;
        font-size: 14px;
    }

    .footer {
        font-size: 13px;
        padding: 15px;
        height: 120px;
    }

    .footer div span {
        display: inline-block;
    }

    .footer div ul {
        display: none;
    }

    .main__text {
        font-size: 15px;
        padding: 60px 45px;
        height: 310px;
    }

    .main__equipo {
        padding: 35px 20px;
    }

    .main__cards {
        flex-wrap: wrap;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr);
        font-size: 90%;
    }

    .novedades__div {
        flex-wrap: wrap;
    }

    .card {
        width: 95%;
        margin: 100px;
    }
}