.main {
    background-color: $colorBlue;
    height: 100%;
    padding-bottom: 30px;
    h2 { text-decoration: $underline ;}

    .hero {padding-bottom: 40px;
        font-size: 20px;};

    &__novedades {
        background-color: $colorBlanque;
        display: grid;
        grid-template-columns: repeat(3, 1 fr);
        padding-bottom: 40px;
    
        h2 {
            text-align: center;
            text-decoration: $underline;
            padding-top: 25px;
            color: $colorBlue;
            }
    }        
}

//EXTEND//

.hero-extend {@extend .hero;
    font-weight: bold;
    
}

.card {border: solid;
    border-color: $colorBlue;
    border-radius: 5px;

    &__bg {background-color: $colorBlanque;}

    &__color {color: $colorBlue}

    &-prueba { padding-bottom: 16px;}
}