.main {
    background-color: $colorBlue;
    height: 100%;
    
    .titulos { text-decoration: $underline ;}

    .hero {align-content: center;
        font-size: 20px;};

    &__novedades {
        background-color: $colorBlanque;
        display: grid;
        grid-template-columns: repeat(3, 1 fr);
        padding-bottom: 40px;
    
        h2 {
            text-align: center;
            text-decoration: $underline;
            padding-top: 25px;
            color: $colorBlue;
         }
    }       
    font-weight: bold;
}  

.card {border: solid;
    border-color: $colorBlue;
    border-radius: 5px;

    p {color: $colorBlue;} 

    &__bg {background-color: $colorBlanque;}

    &__color {color: $colorBlue}

    &-prueba { padding-bottom: 16px;}

}

/* para contacto.html */

.main__texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
    font-size: 20px;
}

.main__formularios {
    width: 500px;
    height: 500px;
    display: flex;
    justify-items: center;
    padding-top: 20px;
    margin: auto;
}

.input {
    width: 100%;
    font-size: 20px;
    margin-bottom: 15px;
}

.button {
    color: #000;
    font-size: 30px;
}

.button:hover {
        transform: scale(1.3);}

/* para quienes-somos.html */

.main__equipo {
    padding: 30px 100px;
    color: blanchedalmond;
    background-color: rgb(12, 12, 59);
}
.main__equipo h1 {
    text-align: center;
    text-decoration: underline;
}

.main__equipo p { padding-top: 20px;
font-size: 20px;}

.equipo__img {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}

.equipo__img img {
    width: 50%;
}

.equipo__img ul {
    text-align: left;
    align-self: center;
    list-style: square;
    font-size: 20px;
}

/* para nuestros-trabajos.html */

.main h2 {
    text-align: center;
    text-decoration: underline;
    font-size: 30px;
}

.main__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 450px);
    justify-content: center;
    justify-items: center;
}

.card__small {
    background-color: rgb(88, 88, 207);
    width: 70%;
    height: 90%;
    border-radius: 10px;
    padding: 10px;
    transition: transformn 0.5s;
}

.card__small:hover {
    transform: scale(1.1);
    }

.card__small div small {
    align-items: left;
    padding-left: 5px;
}

.card__small div h3 {
    text-align: center;
}

.card__small div img {
    padding-top: 5px;
    width: 100%;
    height: 205px;
}

.card__small div ul li {
    list-style-type: none;
    padding-left: 5px;
}

.enlace {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: rgb(12, 12, 59);
    padding-bottom: -5px;
}

/* para sitio-en-construccion.html */

.main__text {
    padding: 30px 100px;
    height: 600px;
}